body {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #e0e0e0;
}

h1 {
    color: #17a2b8;
}

.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.link-container a {
    background-color: #343a40;

    color: #e0e0e0;
    border: 1px solid #495057;
}
.link-container focus {
    border-color: #17a2b8;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}



.link-container a:hover {
    text-decoration: underline;
}

.form-control {
    background-color: #343a40;
    color: #e0e0e0;
    border: 1px solid #495057;
}

.form-control:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

.btn-primary, .btn-success, .btn-info, .btn-secondary {
    border-radius: 5;
}
