body {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #e0e0e0;
}

h1 {
    color: #17a2b8;
}

.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.link-container .spaced-link {
    margin-right: 20px; /* Добавляем отступ справа для каждого элемента */
}

.link-container .spaced-link:last-child {
    margin-right: 0; /* Убираем отступ для последнего элемента */
}

.btn {
    background-color: #28a745; /* Зеленый фон */
    color: #fff; /* Белый текст */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #218838; /* Темно-зеленый фон при наведении */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #1e7e34; /* Еще более темный зеленый фон при нажатии */
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
