<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание клиентов и договоров</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="mb-4 text-center text-info">Создание клиентов и договоров</h1>
        <form onsubmit="event.preventDefault(); updateConfig();">
            <div class="form-group">
                <label for="schemaName" class="text-light">Имя схемы (По умол.: {{ default_schemaName }}):</label>
                <input type="text" class="form-control bg-dark text-light" id="schemaName" name="schemaName" value="{{ default_schemaName }}" required>
            </div>
            <div class="form-group position-relative">
                <label for="password" class="text-light">Пароль (По умол.: {{ default_password }}):</label>
                <input type="password" class="form-control bg-dark text-light" id="password" name="password" value="{{ default_password }}" required>
                <button type="button" class="password-toggle" id="togglePassword">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
            <div class="form-group">
                <label for="serverName" class="text-light">Имя сервера (По умол.: {{ default_serverName }}):</label>
                <input type="text" class="form-control bg-dark text-light" id="serverName" name="serverName" value="{{ default_serverName }}" required>
            </div>
            <div class="form-group">
                <label for="id_group_card" class="text-light">ID группы карт (По умол.: {{ default_id_group_card }}):</label>
                <input type="text" class="form-control bg-dark text-light" id="id_group_card" name="id_group_card" value="{{ default_id_group_card }}" required>
            </div>
            <div class="form-group">
                <label for="AgreeType" class="text-light">Банковский продукт (По умол.: {{ default_AgreeType }}):</label>
                <input type="text" class="form-control bg-dark text-light" id="AgreeType" name="AgreeType" value="{{ default_AgreeType }}" required>
            </div>
        </form>
        <form action="/create_client" method="post" onsubmit="updateConfig(true); updateHiddenFields();">
            <input type="hidden" id="schemaNameHidden" name="schemaName">
            <input type="hidden" id="passwordHidden" name="password">
            <input type="hidden" id="serverNameHidden" name="serverName">
            <input type="hidden" id="id_group_card_hidden_client" name="id_group_card">
            <input type="hidden" id="AgreeType_hidden_client" name="AgreeType">
            <button type="submit" class="btn btn-primary btn-block mt-3">Создать нового клиента</button>
        </form>
        <form action="/create_agreement" method="post" onsubmit="updateConfig(true); updateHiddenFields();">
            <div class="form-group mt-3">
                <label for="clid" class="text-light">ID клиента:</label>
                <input type="text" class="form-control bg-dark text-light" id="clid" name="clid" required>
            </div>
            <input type="hidden" id="schemaNameHiddenAgreement" name="schemaName">
            <input type="hidden" id="passwordHiddenAgreement" name="password">
            <input type="hidden" id="serverNameHiddenAgreement" name="serverName">
            <input type="hidden" id="id_group_card_hidden_agreement" name="id_group_card">
            <input type="hidden" id="AgreeType_hidden_agreement" name="AgreeType">
            <button type="submit" class="btn btn-success btn-block mt-3">Создать договор</button>
        </form>
        <div class="link-container mt-3">
            <a href="/view_log" class="btn btn-secondary btn-block">Открыть файл лога</a>
        </div>
    </div>
</body>
</html>
