<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр файла лога</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        pre {
            white-space: pre-wrap;       /* CSS3 */
            white-space: -moz-pre-wrap; /* Firefox */
            white-space: -pre-wrap;     /* Opera <7 */
            white-space: -o-pre-wrap;   /* Opera 7 */
            word-wrap: break-word;      /* IE */
        }
    </style>
</head>
<body>
    <h1>Просмотр файла лога</h1>
    <pre>{{ log_content }}</pre>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>
